[submodule "programs.user/gpl/llvm"]
	path = programs.user/gpl/llvm
	url = http://llvm.org/git/llvm.git
[submodule "programs.user/private/test_submodule2"]
	path = programs.user/private/test_submodule2
	url = https://github.com/manbing/ethereum_private_chain.git
[submodule "programs.user/private/test_submodule3"]
	path = programs.user/private/test_submodule3
	url = //github.com/manbing/ethereum_private_chain.git
[submodule "programs.user/private/test_submodule4"]
	path = programs.user/private/test_submodule4
	url = https://github.com/manbing/ethereum_private_chain.git
