[submodule "programs.user/gpl/llvm"]
	path = programs.user/gpl/llvm
	url = http://llvm.org/git/llvm.git
[submodule "programs.user/gpl/cindy"]
	path = programs.user/gpl/cindy
	url = http://llvm.org/git/llvm.git
