menu "Kernel Core"

choice
	prompt "Select Core"
        default CORE_LINUX_5_0
        help
            Select the Arch which do you want

config CORE_LINUX_5_0
	bool "Linux-5.0"
        help
            Linux kernel 5.0

endchoice

config KERNEL_CORE
	string
        default "linux-5.0" if CORE_LINUX_5_0
        help
            Kernel core which one do you want

endmenu
