menu "GNU General Public License (GPL)"
config GPL_TCPDUMP
	bool "TCPDUMP"
        default n
        help
            TCPDump open source

config GPL_BUSYBOX
	bool "Busybox"
        default y
        help
            Busybox

endmenu
